.tabela{ /** Faz o estilo da tabela inteira. **/
    background: #1c0c3f range; /** Coloca um fundo laranja. **/
    border-color:#1c0c3f; /** Insere a borda azul. **/
    border-style:solid;/** Define a borda pontilhada. **/
    font-size: 1em;
    width: 90%;
    text-align: center;
    display: inline-block;
 }

 table thead th
 {/** Faz o estilo para as células do cabeçalho. **/
    background: #1c0c3f; /** Muda para um fundo cinza. **/
    color: #fff; /** Troca a cor da fonte para branco. **/
    border-style:solid; 
    border-color: #413bcd;   
 }


 table tr td {/** Faz o estilo para as linhas. **/
    text-align: center; /** Centraliza o conteúdo. **/
    border-style:solid;
    border-color: #413bcd;
    color: #fff
 }
 
 main section div {
   color: #fff;
   text-decoration: none;
   text-align: center;
   padding-top: 15px;
   width: 90%;
   display:inline-block ;
 }

 main section abbr {
   color: #25cbd3;
   text-decoration: none;   
 }

 main section div {
   text-align: center;
   color: #fff;
   padding: 15px;
   margin: auto;
 }
 
 main section > div:nth-child(2){
   text-align: center;
   color: #413bcd;
   padding: 15px;
   margin: auto;
 }

 @media screen and (min-width: 992px) {
   .tabela {
       width: 35%;
       display: inline-block;
       border: 1px solid #25cbd3;
       border-radius: 20px;
       padding: 25px 20px 25px 20px;
       margin: 25px 15px;
   }
   main section thead tr td {
      margin: auto

   };



}


