/*Estilo pagina index*/

/*  .color-red criada uma class
    .Color-red ul li a criada uma class para atuar no nav o ul li e a é o endereço semelhante a navegação em diretorios
    #link-home criado uma id que só atua em um lugar especifio tem prioridade-->
    criando class e id, na linha 24 exemplo de classa aplicado
    na linha 28 exemplo de id aplicado*/

.cover-container figure img {
    width: 100%;
}
/* estamos determinando o tamanho da imagem de capa usamos 100% porque
se adapta melhor a qualquer tamanho de tela.
Exisem outros modos de fazer isso o px você determina o tamanho pela
quantidade de pixels e vai ser um tamanho fixo.
Temos também o exemplo 100em ele respeita o tamanho padrão das fontes e 
também temos o rem exemplo 100rem ele respeita o padrãop do documento raiz
o html*/


main h3.title {
    font-size: 1.2em;    
}

main section abbr{
    color: #25cbd3;
    text-decoration: none;
}
.section-video {
    padding: 26px;
}
@media screen and (min-width:992px) {
    .cover-container {
        width: 40%;
    }

    .cover-container,
    .section-video {
        display: inline-block;
    }

    main .section-azure blockquote{
        width: 70%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
}
